# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# Environment variables
.env
.env.*
!.env.example

# Database
*.sqlite3
*.sqlite3-journal
db.sqlite3

# Static & Media
staticfiles/
media/

# Generated PDFs & Logs
*.pdf
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Python cache
*.egg-info/
.pytest_cache/