# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# Environment variables
.env

# Database
db.sqlite3

# Static & Media
staticfiles/
media/

# Logs
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Python cache
*.egg-info/
.pytest_cache/